*{
    margin: 0;
    padding: 0;
    font-family: "volkorn", serif;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    outline: none;
}


html{
    font-size: 62.5%;
}
:root{
    --primary-color:#2b81e4;
    --secondary-color:#eee;
    --white:#fff;
    --light-grey-color:#777;
    --grey-color:#555;
    --red-color:#900a11;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}


.container{
background-color: var(--secondary-color);
margin: 3.5rem;
box-shadow: 0 1rem 3rem var(--grey-color);
overflow: hidden;
}



/* navbar */

.navbar-icon{
    width: 5.5rem;
    height: 5.5rem;
    background-color: var(--white);
    border-radius: 50%;
    cursor: pointer;
    /* background-image: url(./navbar-icon-picture.PNG);
    background-size: 100%;
    background-repeat: no-repeat; */
}

.navbar-wrapper{
    /* display: none; */
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, .7);
    position: fixed;
    left: 0;
    bottom: 100%;
    opacity: 0;
    z-index: 300;
    padding: 3.5rem 5.5rem 5.5rem 3.5rem;
    transition: bottom .5s opacity .2s;
}


.change .navbar-wrapper{
    bottom: 0;
    opacity: 1;
    transition: bottom .5s opacity .2s .25s;

}

.navbar{
    width: 100%;
    height: 100%;
    background-image: url(./nav-background-behind.PNG);
    background-color: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3));
    background-repeat: repeat-x;
    background-size: cover;
    /* background-color: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), 
    url(navbar-bg.jpg) center no-repeat; */
    position: relative;
    overflow-y: hidden;

}


.nav-link{
    font-size: 3rem;
    font-weight: 700;
    color: var(--white);
    text-transform: uppercase;
    width: 100%;
    opacity: .8;
    transition: all .3s;
    position: relative;
    top: -100%;
}


.nav-link:hover{
    opacity: 1;
    color: var(--primary-color);

}
.change .nav-link{
    top: 0;
}
.nav-list{
    height: 100%;
    display: flex;
}
.navbar-icon .line{
    height: .2rem;
    width: 3.5rem;
    background-color: var(--grey-color);
}

.close-navbar-icon{
    position: absolute;
    top: 2.5rem;
    right: 3rem;
    z-index: 300;
    height: 3.5rem;
    width: 3.5rem;
    background-color: white;
    border-radius: 50%;
    padding: .2rem;
    border: white;
   
}
.open-navbar-icon{
    background-image: url(./navbar-icon-picture.PNG);
    background-size: 100%;
    background-repeat: no-repeat;
    position: fixed;
    top: 6.5rem;
    left: 6.5rem;
    z-index: 200;
}


.close-navbar-icon .line{
    position: absolute;
}

.line-1{
    transform: rotate(40deg);
}


.line-2{
    transform: rotate(-40deg);
}

.change .nav-link:nth-child(1){
    transition: top 1s .4s, opacity .3s, color .3s;
}

.change .nav-link:nth-child(2){
    transition: top 1s .6s, opacity .3s, color .3s;
}

.change .nav-link:nth-child(3){
    transition: top 1s .8s, opacity .3s, color .3s;
}

.change .nav-link:nth-child(4){
    transition: top 1s 1s, opacity .3s, color .3s;
}

.change .nav-link:nth-child(5){
    transition: top 1s 1.2s, opacity .3s, color .3s;
}

/* end  of navbar */

/* Heading */
.header{
    width: 100%;
    height: 75rem;
    background: linear-gradient(rgba(118, 121, 126, 0.5), rgba(118, 121, 126, 0.3));
    background-image:url(./background\ algiers.PNG) ;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     position: relative;
     perspective: 100rem;
     position: relative;
     perspective: 100rem;

}

.header-text{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .1rem;
    text-shadow: .2rem .2rem  .5rem var(--red-color);

}

.heading{
    font-size: 8rem;
    color: var(--white);
}

.header-paragraph{
    font-size: 3rem;
    font-weight: 500;
    color: var(--secondary-color);
    max-width: 70rem;

}

.logo{
    position: absolute;
    top: 4rem;
    right: 4rem;
}
.logo h1 {
    display: flex;
}
.logo h1 span{

    font-size: 2.9rem;
    font-weight: 900;
    color: white;
    text-shadow: .2rem .2rem  .5rem var(--red-color);
    background-color: var(--red-color);
    width: 3.5rem;
    height: 3.5rem;
    display: block;
    margin: 1rem 1rem 0 0;
    border-radius: 50%;
    text-align: center;

}


.logo h1 span:nth-child(1){
    animation-name: drop-letters;
    animation-duration: 5s;
    animation-delay: .1s;
    animation-iteration-count: infinite;
    /* the above properties can be merged into one as follows" */
    /* animation:drop-letters 5s .1s infinite */
    /* see "image-float" keyframe customiszation below for the complete animation */
}

/* 
.logo h1 span:nth-child(1){
    animation-name: drop-letters;
    animation-duration: 5s;
    animation-delay: .1s;
    animation-iteration-count: infinite;
} */

.logo h1 span:nth-child(2){
    animation:drop-letters 5s .2s infinite
}


.logo h1 span:nth-child(3){
    animation:drop-letters 5s .3s infinite
}


.logo h1 span:nth-child(4){
    animation:drop-letters 5s .6s infinite
}


.logo h1 span:nth-child(5){
    animation:drop-letters 5s .5s infinite
}


.logo h1 span:nth-child(6){
    animation:drop-letters 5s .6s infinite
}

.logo h1 span:nth-child(7){
    animation:drop-letters 5s .7s infinite
}

.logo h1 span:nth-child(8){
    animation:drop-letters 5s .7s infinite
}

@keyframes drop-letters {
    0% {
        transform: translateY(0);
    }
    10% {
        transform: translateY(0);
    }
    15% {
        transform: translateY(-100%);

    }
    20% {  transform: translateY(0);
            }
    100% {
        transform: translateY(0);
    }
}

.header-image{
    width: 20%;
    margin-top: -35rem;
    animation: animated-algier-pic 10s  .1s infinite;
    perspective: 120;

}


@keyframes animated-algier-pic {
    0%{
        opacity: 1;
    }
    10%{
        opacity: .7;
        transform: translateZ(0rem);
        transform: translateY(-10rem);
        transform: translateX(10rem);
    }

    20%{
        opacity: .5;
        transform: translateZ(-80rem);
    }

    
    40%{
        opacity: .4;
        transform: translateX(4rem);
    }
    
    50%{
        opacity: .1;
    }


    60%{
        opacity: .1;
        transform: translateY(-10rem);
        transform: translateX(10rem);

    }
    70%{
        opacity: .8;
    }

    100% {
        opacity: 1;
    }
}

/* Houses for sale */
/* 
code:
Card-wrapper == for-sale-wrapper
card = houses
*/

.for-sale-advert{
    height: 20rem;
    width: 100%;
    margin:3rem 0 8rem 5rem ;
    display: flex;
    align-items: center;
    padding: 2rem;
}

.houses-for-sale-heading{
    padding: 5rem 0 10rem 0;
    font-size: 5rem;
    text-align: center;
    margin-bottom: 3rem;
    color: var(--primary-color);
    text-shadow: 0 0.1rem 0.2rem var(--primary-color);
    text-transform: capitalize;
}


.for-sale-wrapper{
    display: flex;
    justify-content: space-evenly;
}
.for-sale-images1{
    width: 17rem;
    height: 12rem;
}

.for-sale-images2{
    width: 12rem;
     height: 5rem; 
    float: right;
    justify-items: right;
    margin-left: 10rem;
    margin-top: -20rem;
}



.houses{
    width: 35rem;
    position: relative;
    margin-bottom: 2rem;
    perspective: 150rem;
}
.house-image{
    width: 100%;
    border-radius: .3rem .3re, 0;
}

.front-side{
    height: 100%;
    text-align: center;
    background-color: var(--white);
    border-radius: .3rem;
    position: relative;
    z-index: 10;
    margin-bottom: 2rem;
    opacity: .9;
    transition: opacity .4s, transform 0.4s, box-shadow .4s;


}

.change > .front-side {
    transform: translateZ(-5rem) translateX(3rem);
    box-shadow: 0 2rem 4rem #777;
    opacity: .1;
    z-index: 0;

}


.house-list{
    width: 80%;
    margin: auto;
}

.house-list-item{
    
    font-size: 1.6rem;
     padding: 1rem 0 1rem 0;
     font-weight: 500;
     color: var(--light-grey-color);
     margin: 1rem 0;
     border-bottom: solid .1rem var(--primary-color);
     padding: 1rem;
}


.back-side{
    position: absolute;
    top: 0;
    background-color: var(--primary-color);
    width: 100%;
    height: 60%;
    border-radius: .3rem;
    box-shadow: 0 2rem 4rem #777;
    transform: translateZ(-4rem) translateX(2rem);
    opacity: .5;
    transition: opacity .4s, transform 0.4s, box-shadow .4s;
}

.change > .back-side {
    transform: translateZ(0) translateX(0);
    box-shadow: 0.5rem 2rem #aaa;
    opacity: .9rem;

}

.back-side img {
    width: 100%;
    height: 65%;
}

.buy-rent{
    flex-direction: column;
    margin: 2rem;
    justify-content: space-between;
}

.buy-btn, .rent-btn, .navigation-button {
    font-size: 1.8rem;
    margin-bottom: .3rem;
    padding: 0 .7rem 0 .7rem;
    letter-spacing: .2rem;
    cursor: pointer;
}


.front-navigation-button{
    position: absolute;
    top: .5rem ;
    left: .5rem;
    padding: 1rem;
    background-color: rgba(255, 255, 255, .5);
    color: var(--light-grey-color);
    border-radius: .3rem;
    border: none;
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .2rem;
    cursor: pointer;

}

/* End of houses for sale */

/* Contact us */
.contact{
    text-align: center;
    background: url(./contact-background-2.PNG) center no-repeat;
    background-size: cover;
    /* overflow: hidden; */
    box-shadow: 0 1rem 3rem var(--grey-color);
    margin: -3rem 3rem 0rem 3rem; 
    padding-bottom: 7rem;
    /* animation-name: contact-bg;
    animation-duration: 10s;
    animation-iteration-count: infinite; */

}

.contact-heading{
    font-size: 7rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .5rem;
    color: var(--white);
    text-shadow: 0 1rem 2rem #000;
    margin-bottom: 4rem;
    animation: contact-bg 10s .6s infinite;

}


.contact-form{
    width: 70rem;
    height: 40rem;
    background-color: rgba(255, 255, 255, .95);
    margin: auto ;
    flex-direction: column;
    border-radius: .5rem;
    box-shadow:  0 .5rem  #000;
    padding: 7rem;

}

/* click submit to pop up message */


.popup-container{
    position:fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);

    display:none;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    transition: all 4s;
} 
.popup-container.active{
    display:inline-flex;
    position: fixed;
}

.popup{
    background-color: #fff;
    padding: 2rem;
    width: 500px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    position: relative;
}


.popup button{
    background-color: #fff;
    color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 10px;
    right: 10px;
}



/*  */
.input-group{
    width: 100%;
    display: flex;
    flex-direction: column ;
    padding: 2rem;
    position: relative;
}
/* 
.input-groups:focus{
    border: .1rem solid #89c447
} */

.input-groups{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

  .input-group input,
  .input-group textarea{
     padding: 3rem 1rem 1rem 1rem; 
     background-color: var(--secondary-color);
     border: .1rem var(--secondary-color);
  }

  
  .input-group label{
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color:var(--grey-color);
    position: absolute;
    top: 2.5rem;
    left: 2.5rem;
}


.form-btn{
    width: 70%;
    padding: 1rem;
    font-size: 1.6rem;
    letter-spacing: .1rem;
    margin-top:1rem ;
    background-color: #5f2932;
    color: white;
    border-radius: .5rem;
    border: none;
    cursor: pointer;
}

.contact-input:focus, .form-text-area:focus{
    outline: solid #89c447;
}

.form-btn:hover{
    background-color: #89c447
}

/* notification on clicking the form button */
/* .toast{
    padding: 2rem;
    background-color:turquoise;
    color: rgb(167, 15, 15);
    border-radius: 5px;
    margin: 1rem;
} */


.input-groups textarea{
    max-height: 15rem;
    max-width: 100%;
}


.input-group textarea{
    max-height: 11rem;
    max-width: 100%;
}



@keyframes contact-bg {
    0% {
      background-color: #3d3d3d;
    }
    25% {
      background-color: #ced8e4;
    }
    50% {
      background-color: #1e81f3;
    }
    75% {
      background-color: #ff7842;
    }
    100% {
      background-color: #3d3d3d;
    }
  }
  

/* End of contact us */

/* footer */
.footer{
  background-color: var(--grey-color); 
  padding: 4rem 0 2rem 0 ; 
}

.footer-list{
    display: flex;
    justify-content: center;
}

.footer-link{
    font-size: 2rem;
    color: white;
    margin: 0 2rem;
    /* background-color:#ff7842 ; */
    padding: .3rem;
    /* transition: all .2s; */
    animation: contact-bg 10s .6s infinite;

}

.footer-link:hover{
  transform: rotate(-10deg);
  box-shadow: 0 2rem 1rem #000;  
}

.footer-paragraph{
   text-align: center;
   font-size: 1.5rem; 
   color: var(--secondary-color);
   letter-spacing: .2rem;
   margin-top: 5rem;
}
/* End of footer */

@media (max-width: 1200px){
    .for-sale-wrapper{
      flex-direction: column;
    align-items: center;
    }
    
}